<h3>Simple Force Layout</h3>
<div>
  Charge:{{input placeholder="charge" value=model.charge}}<br/>
</div>
<div>
  Link Distance:{{input placeholder="link distance" value=model.linkDistance}}<br/>
</div>
<div>
  Gravity:{{input placeholder="gravity" value=model.gravity}}<br/>
</div>
<div>
  <label>Editable {{input type="checkbox" checked=model.editable}}</label>
</div>
<div>
  <label>Show Link Labels {{input type="checkbox" checked=model.linkLabels}}</label>
</div>

<div>
	{{force-layout-graph
    charge=model.charge
    linkDistance=model.linkDistance
    gravity=model.gravity
    nodes=model.nodes
    links=model.links
    linkLabels=model.linkLabels
    editable=model.editable
    addedNode="addedNode"
    removedNode="removedNode"
    addedLink="addedLink"
    removedLink="removedLink"
  }}
</div>

{{outlet}}

